<!DOCTYPE html>
<html>
<head>
  <title>Delete a student</title>
</head>
<body>
  <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete student</button>
  </form>
</body>
</html>
