section {
  border: 2px solid black;
  float: left;
  width: 48%;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  background-color: pink;
}

header {
  border: 3px solid aqua;
}

footer {
  clear: both;
  border: 2px dashed green;
}

h2 {
  font-family: Helvetica;
  color: red;
}

a:hover {
  font-family: sans-serif;
  color: orange;
}

body {
  background-color: grey;
}

h1 {
  color: green;
  font-style: bold;
}
